<!--Se deben requerir los campos obligatorios. De momento no se requiren porque estamos en testing-->


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <script src="https://kit.fontawesome.com/d3503ff7e5.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/styles-login-md.css" media="(min-width:768px)" />
        <link rel="stylesheet" href="/css/styles-login-lg.css" media="(min-width:992px)" />
        <link rel="stylesheet" href="../css/styleHome.css" />
        <link rel="stylesheet" href="../css/styleHome-sm.css" />
        <link rel="stylesheet" href="../css/styleHome-md.css" />
        <link rel="stylesheet" href="../css/styleHome-lg.css" />
        <link rel="stylesheet" href="../css/productCreate.css" />
</head>

<body>
    <%- include('./partials/header') %>
        <main class='mainContainer'>
            </head>

            <body class='backgroundImg2'>
                <main>
                                        <h2 class='centerText'> Añadir nuevo producto</h2>
                    <div class='container'>
                        <form action="/views/productos" method="post" enctype="multipart/form-data">
                            <div class='img'>
                                <label class='image' for='img'>Sube una imagen de tu producto</label>
                                <i class="fas fa-camera blue" style='font-size: 1.5em;'></i>
                                <input type='file' id='img' name='img' style='display:none'
                                    accept='image/png, image/jpg, image/jpeg'>
                            </div>
                            <div class='inputStyle'>
                                <label for='title'> Nombre del producto</label>
                                <input type='text' id='title' name='title'
                                value="<%= locals.oldData ? oldData.title : null  %>">
                                <% if (locals.errors && errors.title) { %>
                                    <div class="errorMessage">
                                        <p>
                                            <%= errors.title.msg %>
                                        </p>
                                    </div>
                                    <% } %>                                   
                            </div>
                            <!-- <div class='inputStyle'>
                        <label for='sku' style='color:rgb(161, 148, 148)'> SKU</label>
                        <input type='text' id='sku' name='sku'  disabled='true' placeholder='este campo esta desabilitado'>
                    </div> -->
                            <div class='inputStyle'>
                                <label for='category'> ¿Que tipo de producto es? </label>
                                <select id='category' name='category'>
                                    <option selected='true' disabled='disabled'>Elige una opción</option>
                                    <option value='championes'>Championes</option>
                                    <option value='camisetas'>Camisetas</option>
                                    <option value='buzos'>Buzos</option>
                                    <option value='leggins'>Leggins</option>
                                    <option value='pantalones'>Pantalones</option>
                                    <option value='shorts'>Pantalon corto</option>
                                    <option value='gorras'>Gorras</option>
                                    <option value='medias'>Medias</option>
                                    <option value='ropaInterior'>Ropa interior</option>
                                    <option value='deportesAcuaticos'>Deportes acuaticos</option>
                                    <option value='otros'>Otros</option>
                                </select>
                            </div>
                            <div class='colorSize'>
                                <div class='colorSizeChild1'>
                                    <label for='size'> Talle </label>
                                    <select id='size' name='size'>
                                        <option selected='true' disabled='disabled'>Elige una opción</option>
                                        <% let sizes = ['36', '36.5', '37', '37.5', '38', '38.5', '39', '39.5', '40', '40.5', '41', '41.5', '42', '42.5', '43', 
                                        '43.5', '44', '44.5', '45', '45.5', '46', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'talleUnico']; %>
                                        <% for (const oneSize of sizes) { %>
                                            <option value='<%= oneSize %>' <%= locals.oldData && (oneSize === oldData.size) ? 'selected' : null %> ><%= oneSize %> </option>
                                            <% } %>
                                    </select>                                           
                                <% if (locals.errors && errors.size) { %>
                                    <div class='errorMessage'>
                                        <p>
                                            <%= errors.size.msg %>
                                        </p>
                                    </div>
                                    <% } %>                                           
                                </div>
                                <div class='colorSizeChild2'>
                                    <label for='color'> Color </label>
                                    <select id='color' name='color'>
                                        <option selected='true' disabled='disabled'>Elige una opción</option>
                                        <% let colors = ['blanco', 'negro', 'rojo', 'azul', 'amarillo', 'verde', 'naranja', 'violeta', 'rosado', 'marrón', 'gris', 'otros']; %>
                                        <% for (const oneColor of colors) { %>
                                            <option value='<%= oneColor %>' <%= locals.oldData && (oneColor === oldData.color) ? 'selected' : null %> ><%= oneColor %> </option>
                                            <% } %>
                                    </select>                                           
                                <% if (locals.errors && errors.color) { %>
                                    <div class='errorMessage'>
                                        <p>
                                            <%= errors.color.msg %>
                                        </p>
                                    </div>
                                    <% } %>                                     
                                </div>
                            </div>
                            <div class='inputStyle'>
                                <label for='categoryGender'> ¿Para quién esta pensado tu producto? </label>
                                <select id='categoryGender' name='categoryGender'>
                                    <option selected='true' disabled='disabled'>Elige una opción</option>
                                    <option value='niño'>Niños</option>
                                    <option value='hombre'>Hombres</option>
                                    <option value='mujer'>Mujeres</option>
                                    <option value='unisex'>Unisex/otros</option>
                                </select>
                            </div>
                            <div class='inputStyle'>
                                <label for='categorySport'> categoriza tu producto </label>
                                <select id='categorySport' name='categorySport'>
                                    <option selected='true' disabled='disabled'>Elige una opción</option>
                                    <option value='running'>Running</option>
                                    <option value='ciclismo'>Ciclismo</option>
                                    <option value='trekking'>Trekking</option>
                                    <option value='waterSports'>Deportes aquáticos</option>
                                    <option value='tennis'>Tennis</option>
                                    <option value='basketball'>Basketball</option>
                                    <option value='boxing'>Boxeo</option>
                                    <option value='casual'>Casual</option>
                                    <option value='futbol'>Fútbol</option>
                                    <option value='otros'>Otro</option>
                                </select>
                            </div>

                            <div class='inputStyle'>
                                <label for='marca'>Indicanos la marca de tu producto</label>
                                <input type='text' id='marca' name='marca' placeholder='(opcional)'>
                            </div>


                            <div class='inputStyle'>
                                <label for='price'>Precio</label>
                                <input type='number' id='price' name='price' min='0' max='1,000,000'
                                    placeholder='(en pesos $)' 
                                value='<%= locals.oldData ? oldData.price : null  %>'>
                                <% if (locals.errors && errors.price) { %>
                                    <div class='errorMessage'>
                                        <p>
                                            <%= errors.price.msg %>
                                        </p>
                                    </div>
                                    <% } %>  
                            </div>

                            <div class='inputStyle'>
                                <label for='discount'>Descuento</label>
                                <input type='number' id='discount' name='discount' min='0' max='100'
                                    placeholder='% OFF'>
                            </div>


                            <div class='inputStyle'>
                                <label for='stock'>Stock</label>
                                <input type='number' id='stock' name='stock' min='0' max='10,000'
                                value="<%= locals.oldData ? oldData.stock : null  %>">
                                <% if (locals.errors && errors.stock) { %>
                                    <div class="errorMessage">
                                        <p>
                                            <%= errors.stock.msg %>
                                        </p>
                                    </div>
                                    <% } %>
                            </div>

                            <div class='inputStyle'>
                                <label for='productDescription'>Descripción </label>
                                <textarea class='centerText' id='productDescription' name='productDescription' rows='5'
                                    cols='28'
                                    placeholder="Cuentanos un poco acerca de tu producto. Si no encontraste las opciónes adecuadas para tu producto, puedes indicarlas aquí!"
                                    value="<%= locals.oldData ? oldData.productDescription : null  %>"></textarea>
                                                                        <% if (locals.errors && errors.productDescription) { %>
                                        <div class="errorMessage">
                                            <p>
                                                <%= errors.productDescription.msg %>
                                            </p>
                                        </div>
                                        <% } %>
                            </div>
                            <div class=''>
                                <button type='submit'>Guardar</button>
                                <button type='reset'>Comenzar de nuevo</button>
                            </div>
                        </form>
                    </div>
                </main>
                <%- include('./partials/footer') %>
            </body>
            <script scr='javascriptjs.js'></script>

</html>