<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/style-pd.css" />
        <link rel="stylesheet" href="/css/responsive-pd.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
    </head>

    <body>
        <div class="container">
            <div class="header">
                <h4>
                    <a href="/"
                        ><img
                            src="../img/productDetail/rsz_logo_white_nb.png"
                            alt="logo"
                    /></a>
                </h4>
                <div class="search-box">
                    <input type="text" placeholder="Buscar producto" />
                    <button type="submit" class="buttonS">
                        Buscar <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="log">
                    Ingresá <i class="fas fa-user" class="user"></i>
                </div>
                <div class="carri">
                    Carrito <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <div class="burger-menu bars-bg">
                <i class="fas fa-bars bars-text"></i>
            </div>
        </div>

        <div class="nav">
            <ul>
                <li><a href="#"></a>Deportes</li>
                <li><a href="#"></a>Marcas</li>
                <li><a href="#"></a>Mujer</li>
                <li><a href="#"></a>Hombre</li>
                <li><a href="#"></a>Niño</li>
                <li><a href="#"></a>Ofertas</li>
            </ul>
        </div>

        <div class="product">
            <div class="images">
                <div class="slider">
                    <img src="/img/products/<%=productoFiltrado.images%>" alt="" />
                </div>
                <!-- Comentado momentaneamente hasta que solucionemos cómo poner varias imágenes - Eze
                 <div class='sportProd'>
                <div class='itemSport active'>
                    <img src='img/productDetail/rsz_1front_right.jp' alt=''>
                </div>
                <div class='itemSport'>
                    <img src='img/productDetail/rsz_back_right.jpg' alt=''>
                </div>
                <div class='itemSport'>
                    <img src='img/productDetail/rsz_top_pair.jpg' alt=''>
                </div>
            </div> -->
                <h2 class="det">DETALLES</h2>
                <section class="decription">
                    <%= productoFiltrado.productDescription %>
                </section>
            </div>

            <div class="info">
                <h3><%= productoFiltrado.categorySport %></h3>
                <h1><%= productoFiltrado.title %></h1>
                <div class="starShare">
                    <a href="" class="fav"><i class="fas fa-star"></i></a>
                    <a href=""><i class="fas fa-share-alt"></i></a>
                </div>
                <h1 class="price">$<%= productoFiltrado.price %></h1>
                <h4 class="title">Color</h4>
                <div class="colors">
                    <span class="color black"></span>
                    <span class="color gold"></span>
                    <span class="color red"></span>
                </div>
                <h4 class="title">Talle</h4>
                <div class="sizes">
                    <span class="size">39</span>
                    <span class="size">40</span>
                    <span class="size">41</span>
                    <span class="size">42</span>
                    <span class="size">43</span>
                </div>
                <h4 class="title">Cantidad</h4>
                <input type="number" value="1" class="qty" />
                <h4 class="title">Disponibles en Stock</h4>
                <input
                    type="number"
                    value="<%= productoFiltrado.stock%>"
                    class="qty"
                />
                <a href="#" class="cart"
                    >Añadir al carrito <i class="fas fa-shopping-cart"></i
                ></a>
                <div>
                    <a
                        href="/modificarProducto/<%=productoFiltrado.id%>"
                        class="editProduct"
                        >Editar Producto</a
                    >
                    
                    <form
                        action="/<%= productoFiltrado.id%>/?_method=DELETE"
                        method="POST"
                        style="display: inline-flex"
                    >
                        <button type="submit" class="deleteProduct">
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer"><%- include('./partials/footer') %></div>
    </body>
</html>
