<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head') %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/styleHome.css">
        <link rel="stylesheet" href="../css/styleHome-sm.css">
        <link rel="stylesheet" href="../css/styleHome-md.css">
        <link rel="stylesheet" href="../css/styleHome-lg.css">
</head>

<body>
    <%- include('./partials/header') %>
        <!-- Carousel / Banner -->
        <section>

        </section>
        <!-- Iconos patrocinadores -->
        <section>

        </section>
        <!-- Productos -->
        <main>
            <h1 class="title">Productos disponibles:</h1>
            <section class="productContainer">
                <% for (const producto of allProducts) { %>
                    <article class="product">
                        <a href="productDetail/<%= producto.id %>"><img class="imageProduct" src="<%= producto.img %>"
                                alt="imagenProducto"></a>
                        <div class="detailContainer">
                            <p class="titleProduct">
                                <%= producto.title %>
                            </p>
                            <p class="descriptionProduct">
                                <%= producto.description %>
                            </p>
                            <p class="sku_product">SKU <%= producto.sku %>
                            </p>
                            <p class="priceProduct">$<%= producto.price %>
                            </p>
                            <div class="btnContainer">
                                <a href="productDetail/<%= producto.id %>"><button class="btn-buy">Ver
                                        Producto</button></a>
                                <button class="btn-cart">Añadir a Carrito</button>
                            </div>
                        </div>
                    </article>
                    <%} %>
            </section>
        </main>
        <!-- Footer -->
        <%- include('./partials/footer') %>
</body>

</html>