<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head') %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/styleHome.css">
        <link rel="stylesheet" href="../css/styleHome-sm.css">
        <link rel="stylesheet" href="../css/styleHome-md.css">
        <link rel="stylesheet" href="../css/styleHome-lg.css">
        <link rel="stylesheet" href="../css/products-sm.css">
        <link rel="stylesheet" href="../css/products-md.css">
        <link rel="stylesheet" href="../css/products-lg.css">
</head>

<body>
    <%- include('./partials/header') %>
        <!-- Barra búsqueda mobile -->
        <nav class="navBar-orderBy-filter">
            <div class="dropdown dropdown-filter-search">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-arrows-alt-v"></i>Ordenar por
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Precio</a>
                    <a class="dropdown-item" href="#">Lanzamiento</a>
                    <a class="dropdown-item" href="#">Ubicación</a>
                </div>
            </div>
            <div class="dropdown dropdown-filter-search">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fab fa-searchengin"></i> Filtrar
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Marca</a>
                    <a class="dropdown-item" href="#">Prenda</a>
                </div>
            </div>
        </nav>
        <!-- Productos -->
        <main>
            <h1 class="title">Productos disponibles:</h1>
            <div class="searchBar_container">
                <h2>Escriba el producto que desea encontrar</h2>
                <div class="inputSearch_container">
                    <form action="/productos/search" method="GET">
                        <input type="text" name="titulo" id="barraBusquedaProducto"><i class="fas fa-search"></i>
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
            <section class="productContainer">
                <section class="barraFiltro">
                    <div class="barraFiltro-container">
                        <div class="itemBarraFiltro">
                            <p>Marca</p>
                            <ul class="listItem">
                                <li><a href="">Marca1</a></li>
                                <li><a href="">Marca2</a></li>
                                <li><a href="">Marca3</a></li>
                                <li><a href="">Marca4</a></li>
                                <li><a href="">Marca5</a></li>
                            </ul>
                        </div>
                        <div class="itemBarraFiltro">
                            <p>Talles</p>
                            <ul class="listItem">
                                <li><a href="">S</a></li>
                                <li><a href="">M</a></li>
                                <li><a href="">l</a></li>
                                <li><a href="">xl</a></li>
                                <li><a href="">xxl</a></li>
                            </ul>
                        </div>
                        <div class="itemBarraFiltro">
                            <p>Metodos de pago</p>
                            <ul class="listItem">
                                <li><a href="">Efectivo</a></li>
                                <li><a href="">Tarjeta crédito</a></li>
                                <li><a href="">Transferencia</a></li>
                            </ul>
                        </div>
                        <div class="itemBarraFiltro">
                            <p>Genero</p>
                            <ul class="listItem">
                                <li><a href="">Hombre</a></li>
                                <li><a href="">Mujer</a></li>
                                <li><a href="">Niños</a></li>
                                <li><a href="">Unisex</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <% for (const producto of allProducts) { %>
                    <article class="product">
                        <a href="productDetail/<%= producto.id %>"><img class="imageProduct"
                                src="<%=producto.images%>" alt="imagenProducto"></a>
                        <div class="detailContainer">
                            <p class="titleProduct">
                                <%= producto.title %>
                            </p>
                            <p class="descriptionProduct">
                                <%= producto.productDescription %>
                            </p>

                            <div class="price-discountContainer">
                                <p class="priceProduct">$<%= producto.price %>
                                </p>
                                <% if (producto.discount) { %>
                                    <p class="discountProduct">%<%= producto.discount %> OFF</p>
                                    <% } %>
                            </div>
                            <div class="btnContainer">
                                <a href="productDetail/<%= producto.id %>"><button class="btn-buy">Ver
                                        Producto</button></a>
                                <button class="btn-cart">Añadir a Carrito</button>
                            </div>
                        </div>
                    </article>
                    <%} %>
            </section>
        </main>
        <!-- Footer -->
        <%- include('./partials/footer') %>
</body>

</html>